<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Configuración de grupos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/chosen/chosen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/chosen/docsupport/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_bar.css}"/>
</head>

<body>
<p th:text="${tramite.nombre}"/>
<div>
    <form action="/grupos/tramites/tramite" method="post">
        <input type="hidden" id="tramite_id" name="tramite_id" th:value="${tramite.id}"/>

        <select id="selectable_grupos" name="selectable_grupos" data-placeholder="Seleccione un grupo..." class="chosen-select" multiple="multiple">
            <option th:each="grupo: ${grupos}" th:text="${grupo.value.id + ' - ' + grupo.value.descripcion}" th:value="${grupo.value.id}" th:selected="${grupo.value.relacionado}"></option>
        </select>
        <input type="hidden" id="grupos_relacionados" name="grupos_relacionados" th:value="${grupos_relacionados}"/>
        <br/><br/>
        <input type="submit" value="Confirmar"/>
        <br/><br/>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" type="text/javascript"></script>
<script th:src="@{/chosen/chosen.jquery.js}" type="text/javascript"></script>
<script th:src="@{/chosen/docsupport/prism.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/chosen/docsupport/init.js}" type="text/javascript" charset="utf-8"></script>

</body>
</html>