<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="@{header}">Header</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
</div>
<div class="container">
    <div class="hero-unit">
        <h1> Configuración de documentos de grupo </h1>
        <h2 th:text="${grupo.id + ' - ' + grupo.descripcion}"/>
        <form th:action="@{/grupos/grupo/documentos}" onsubmit="return loadData()" th:object="${user}" th:method="post">
            <input type="hidden" id="grupo_id" name="grupo_id" th:value="${grupo.id}"/>
            <input type="text" id="username" th:value="*{username}" name="username" style="display:none"/>
            <input type="text" id="password" th:value="*{password}" name="password" style="display:none"/>

            <select  class="selectpicker" data-live-search="true" data-width="100%" id="selectable_documentos" name="selectable_documentos" path="selectable_documentos" data-placeholder="Elija un documento...">
                <option th:each="documento: ${documentos}" th:text="${documento.id + ' - ' + documento.nombre}" th:value="${documento.id}">Option</option>
            </select>
            <button type="button" class="btn btn-primary documento__add">Agregar</button>

            <br/>
            <br/>

            <div class="table-responsive" style="margin-top:30px; width:100%">
                <table class="table" id="table_documentos">
                    <thead>
                    <tr>
                        <th style="width:75%">Documento</th>
                        <th style="width:10%">Obligatorio</th>
                        <th style="width:10%">Orden</th>
                        <th style="width:5%">Remover</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">
                    <tr th:each="gDocTDoc: ${grupos_documentos}" th:id="${'row-' + gDocTDoc.idTipoDocumento}">
                        <td style="width:75%" align="left" th:id="${'text-' + gDocTDoc.idTipoDocumento}" th:text="${gDocTDoc.idTipoDocumento + ' - ' + gDocTDoc.nombreDocumento}">documento</td>
                        <td style="width:10%"><input type="checkbox" title="Obligatorio" th:id="${'obligatorio-' + gDocTDoc.idTipoDocumento}" th:checked="${gDocTDoc.obligatorio} == 1"/></td>
                        <td style="width:10%"><input type="number" title="Orden" min="1" th:id="${'orden-' + gDocTDoc.idTipoDocumento}" th:value="${gDocTDoc.orden}" /></td>
                        <td style="width:5%"><button type="button" class="documento__delete" title="Eliminar" th:id="${'eliminar-' + gDocTDoc.idTipoDocumento}"/></td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="documentos_update" name="documentos_update" th:value="${documentos_update}"/>
            <input type="hidden" id="documentos_insert" name="documentos_insert"/>
            <input type="hidden" id="documentos_delete" name="documentos_delete"/>
            <br/><br/>
            <button type="submit" class="btn btn-success btn-block">Confirmar</button>
            <br/><br/>
        </form>
    </div>
</div>
<script th:src="@{/js/gruposDocumentos.js}"></script>

<script type="text/javascript" th:inline="javascript">
function loadData() {
    var documentosUpdate = document.getElementById("documentos_update");
    documentosUpdate.value = parse(documentosUpdate);

    var documentosInsert = document.getElementById("documentos_insert");
    documentosInsert.value = parse(documentosInsert);

    return true;
}
</script>

<script type="text/javascript" th:inline="javascript">
function parse(elemDocs) {
    var str = elemDocs.value;
    var str_array = str.split(',');
    var docId, obligatorio, orden;
    var configuracion = "";
    for(i in str_array) {
        str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
        docId = str_array[i];
        if (docId != "") {
            configuracion += docId + ",";
            obligatorio = "0";

            if (document.getElementById("obligatorio-" + docId).checked)
                obligatorio = "1";

            orden = document.getElementById("orden-" + docId).value;

            configuracion += obligatorio+","+orden+";";
        }
    }

    configuracion = configuracion.substring(0, configuracion.length - 1);

    return configuracion;
}

</script>
</body>
</html>