<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Configuración de grupos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/chosen/chosen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/chosen/docsupport/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_bar.css}"/>
</head>

<body>
<p th:text="${grupo.descripcion}"/>
<div>
    <form action="/grupos/grupo/documentos" method="post">
        <input type="hidden" id="grupo_id" name="grupo_id" th:value="${grupo.id}"/>
        <select id="selectable_documentos" name="selectable_documentos" data-placeholder="Seleccione un documento..." class="chosen-select" multiple="multiple">
            <option th:each="documento: ${documentos}" th:text="${documento.value.id + ' - ' + documento.value.nombre}" th:value="${documento.value.id}" th:selected="${documento.value.relacionado}"></option>
        </select>
        <input type="hidden" id="documentos_relacionados" name="documentos_relacionados" th:value="${documentos_relacionados}"/>
        <br/><br/>
        <input type="submit" value="Confirmar"/>
        <br/><br/>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" type="text/javascript"></script>
<script th:src="@{/chosen/chosen.jquery.js}" type="text/javascript"></script>
<script th:src="@{/chosen/docsupport/prism.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/chosen/docsupport/init.js}" type="text/javascript" charset="utf-8"></script>

</body>
</html>