<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="@{header}">Header</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
</div>
<div class="container">
    <div class="hero-unit">
        <h1> Configuración de grupos de trámite </h1>
        <h2 th:text="${tramite.id + ' - ' + tramite.nombre}"/>
        <form th:action="@{/grupos/tramites/tramite}" th:object="${user}" th:method="post">
            <input type="text" id="tramite_id" name="tramite_id" th:value="${tramite.id}" style="display:none"/>
            <input type="text" id="username" th:value="*{username}" name="username" style="display:none"/>
            <input type="text" id="password" th:value="*{password}" name="password" style="display:none"/>

            <select  class="selectpicker" data-live-search="true" data-width="100%" id="selectable_grupos" name="selectable_grupos" path="selectable_grupos" data-placeholder="Elija un grupo...">
                <option th:each="grupo: ${grupos}" th:text="${grupo.id + ' - ' + grupo.descripcion}" th:value="${grupo.id}">Option</option>
            </select>
            <button type="button" class="btn btn-primary grupo__add">Agregar</button>

            <div class="table-responsive" style="margin-top:30px; width:70%">
                <table class="table" id="table_cuits">
                    <thead>
                    <tr>
                        <th style="width:90%">Grupo</th>
                        <th style="width:10%">Remover</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">
                    <tr th:each="grupo: ${datosGruposRelacionados}" th:id="${'row-' + grupo.id}">
                        <td style="width:90%" align="left" th:id="${'text-' + grupo.id}" th:text="${grupo.id + ' - ' + grupo.descripcion}">grupo</td>
                        <td style="width:10%"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <input type="text" id="grupos_relacionados" name="grupos_relacionados" th:value="${grupos_relacionados}" style="display:none"/>
            <input type="text" id="grupos_configuracion" name="grupos_configuracion" style="display:none"/>

            <br/><br/>
            <button type="submit" class="btn btn-success btn-block">Confirmar</button>
        </form>
    </div>
</div>
<script th:src="@{/js/grupos.js}"></script>
</body>
</html>