<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Grupos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/chosen/chosen.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/chosen/docsupport/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_bar.css}"/>

</head>

<body>
<div>
    <form action="/grupos/documentos/grupo" method="get">
        <label for="selectable_grupos">Grupos</label>
        <br/>
        <select id="selectable_grupos" name="selectable_grupos" path="selectable_grupos" data-placeholder="Elija un grupo.." class="chosen-select">
            <option th:each="grupo: ${grupos}" th:text="${grupo.value.id + ' - ' + grupo.value.descripcion}" th:value="${grupo.value.id}"></option>
        </select>
        <br/>
        <br/>

        <button type="button" th:onclick="'activateGroup();'">Crear nuevo grupo</button>
        <div id="new_group" style="visibility:hidden">
            <label for="grupo_nuevo">Ingresar un grupo nuevo</label>
            <br/>
            <input type="text" id="grupo_nuevo" th:name="grupo_nuevo" value=""/>
        </div>
        <br/>
        <br/>
        <input type="submit" value="Siguiente"/>
    </form>
</div>

<script type="text/javascript">
function activateGroup() {
    var divGroup = document.getElementById("new_group");
    var grupoText = document.getElementById("grupo_nuevo");
    grupoText.value = "";
    grupoText.text = "";

    if (divGroup.style.visibility == 'hidden')
        divGroup.style.visibility = 'visible';
    else
        divGroup.style.visibility = 'hidden';
}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" type="text/javascript"></script>
<script th:src="@{/chosen/chosen.jquery.js}" type="text/javascript"></script>
<script th:src="@{/chosen/docsupport/prism.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/chosen/docsupport/init.js}" type="text/javascript" charset="utf-8"></script>

</body>
</html>