<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>Trámites a Distancia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cuits.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-style.css}"/>
    <link rel="icon" th:href="@{/images/escudo-nacional.png}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
</head>