<ul>
    <li><a href="/home">Home</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Tramites</a>
        <div class="dropdown-content">
            <a href="/tramites/new">Crear un trámite nuevo</a>
            <a href="/tramites/modificaciones">Modificar trámite</a>
            <a href="/tramites/relaciones">Relacionar documentos</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Documentos</a>
        <div class="dropdown-content">
            <a href="/documentos/new">Crear un documento nuevo</a>
            <a href="/documentos/modificaciones">Modificar documento</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Etiquetas</a>
        <div class="dropdown-content">
            <a href="/etiquetas/new">Agregar una etiqueta nueva</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Grupos</a>
        <div class="dropdown-content">
            <a href="/grupos/tramites">Configurar grupos de trámite</a>
            <a href="/grupos/documentos">Configurar documentos de un grupo</a>
        </div>
    </li>
</ul>