<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Etiqueta Resultado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
</head>

<body>
<h1 th:style="${! success} ? 'visibility:hidden'">Etiqueta ingresada exitosamente.</h1>

<h1 th:style="${success} ? 'visibility:hidden'">Hubo un error al intentar insertar la etiqueta nueva. Intente nuevamente.</h1>

<br/><br/>

<input type="submit" onclick="location.href = '/home';" id="myButton" value="Siguiente"/>


</body>
</html>