<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Documento Resultado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
</head>

<body>
<form th:action="@{/home}" th:object="${user}" th:method="get">

<h1 th:style="${! success} ? 'visibility:hidden'" th:text="${'Se insertó correctamente el nuevo documento con ID: ' + id}">Result success</h1>

<h1 th:style="${success} ? 'visibility:hidden'">Hubo un error al intentar insertar el documento nuevo. Intente nuevamente.</h1>

<br/><br/>
    <input type="text" id="username" th:value="*{username}" name="username" style="display:none"/>
    <input type="text" id="password" th:value="*{password}" name="password" style="display:none"/>
<input type="submit" onclick="location.href = '/home';" id="myButton" value="Siguiente"/>

</form>
</body>
</html>