<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Nuevo Trámite</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
</head>

<body>
<div>
<form action="/tramites" onsubmit="return validateTrata()" method="post">
    <label for="descripcion">Descripción</label>
    <br/>
    <input type="text" id="descripcion" name="descripcion" required="true"/>
    <br/>

    <label for="usuario_creacion">Usuario Creación</label>
    <br/>
    <input type="text" id="usuario_creacion" name="usuario_creacion" required="true"/>
    <br/>

    <label for="trata">Código de trata en GDE</label>
    <br/>
    <input type="text" id="trata" name="trata" required="true"/>
    <br/>
    <input type="hidden" id="tratas_existentes" name="tratas_existentes" th:value="${tratas_existentes}"/>

    <label for="usuario_iniciador">Usuario Iniciador</label>
    <br/>
    <input type="text" id="usuario_iniciador" name="usuario_iniciador" required="true"/>
    <br/>

    <label for="reparticion">Repartición iniciadora</label>
    <br/>
    <input type="text" id="reparticion" name="reparticion" required="true"/>
    <br/>

    <label for="sector">Sector iniciador</label>
    <br/>
    <input type="text" id="sector" name="sector" required="true"/>
    <br/>

    <label for="nombre">Nombre</label>
    <br/>
    <input type="text" id="nombre" name="nombre" required="true"/>
    <br/>
    <br/>

    <label for="selectable_tags">Etiquetas seleccionables</label>
    <br/>
    <table id ="selectable_tags">
        <tr th:each = "element: ${tags}">
            <td>
                <select th:id="${'select_' + element.key}">
                    <option disabled="true" selected="selected" th:label="${'-------------------------------------------------------------------- ' + element.key + ' --------------------------------------------------------------------'}"></option>
                    <option th:each="tag: ${element.value}" th:label="${tag.tag}"></option>
                </select>
            </td>

            <td>
                <button type="button" class="button buttonBlue" th:id="${element.key}" th:onclick="'selectTag(this.id);'">Agregar etiqueta</button>
            </td>
        </tr>
    </table>
    <br/>
    <br/>

    <label for="text_selected_tags">Etiquetas agregadas</label>
    <br/>
    <textarea rows="4" cols="50" id="text_selected_tags" name="text_selected_tags" readonly="true" value=""></textarea>
    <br/>

    <button type="button" class="button buttonRed" th:onclick="'unselectTag();'">Remover etiquetas seleccionadas</button>
    <br/>
    <br/>

    <label for="descripcion_html">Descripción HTML</label>
    <br/>
    <textarea rows="4" cols="50" id="descripcion_html" name="descripcion_html" required="true"></textarea>
    <br/>

    <label for="check_pago">Tiene Pago</label>
    <input type="checkbox" th:onclick="'checkPago();'" id="check_pago" name="check_pago"/>
    <br/>
    <input type="text" id="tiene_pago" name="tiene_pago" value="0"/>

    <label for="id_sir" id="label_sir" style="visibility:hidden">ID Tipo Tramite SIR</label>
    <br/>
    <input type="text" id="id_sir" name="id_sir" style="visibility:hidden"/>
    <br/>

    <label for="tiene_prevalidacion">Tiene Prevalidacion</label>
    <br/>
    <input type="radio" id="tiene_prevalidacion" name="tiene_prevalidacion" value="SI"/> Si
    <input type="radio" name="tiene_prevalidacion" value="NO" checked="true"/> No
    <br/>

    <label for="obligatorio_interviniente">Obligatorio interveniente</label>
    <br/>
    <input type="radio" id="obligatorio_interviniente" name="obligatorio_interviniente" value="SI"/> Si
    <input type="radio" name="obligatorio_interviniente" value="NO" checked="true"/> No
    <br/>

    <br/><br/>
    <input type="submit" value="Submit"/>
</form>
</div>

<script  type="text/javascript">
function selectTag(id) {
    var sel_tags = document.getElementById("select_" + id);
    var text = sel_tags.options[sel_tags.selectedIndex].label;

    var selected = document.getElementById("text_selected_tags");

    if(selected.value.includes(text))
        alert("La etiqueta ya fue seleccionada");
    else
        if(! text.includes("--------------------------------------------------------------------"))
            if (selected.value)
                selected.value = selected.value + "," + text;
            else
                selected.value = text;
}
</script>

<script  type="text/javascript">
function unselectTag() {
    var selected = document.getElementById("text_selected_tags");
    selected.value = "";
}
</script>

<script type="text/javascript">
function checkPago() {
    if (document.getElementById("check_pago").checked) {
        document.getElementById("id_sir").style.visibility = 'visible';
        document.getElementById("id_sir").required=true;
        document.getElementById("label_sir").style.visibility = 'visible';
        document.getElementById("tiene_pago").value = "1";
    } else {
        document.getElementById('id_sir').style.visibility = 'hidden';
        document.getElementById("id_sir").required=false;
        document.getElementById("label_sir").style.visibility = 'hidden';
        document.getElementById("tiene_pago").value = "0";
    }
}
</script>

<script type="text/javascript">
function validateTrata() {
    var tratas_existentes = document.getElementById("tratas_existentes").value;
    var trata = document.getElementById("trata").value;

    if(tratas_existentes.includes(trata)) {
        alert("El código de trata ingresado ya existe para otro trámite, por favor coloque uno distinto");
        return false;
    }

    return true;
}
</script>
</body>
</html>