<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Nuevo Trámite</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
</head>

<body>
<div>
<form action="/tramites" method="post">
    <label for="descripcion">Descripción</label>
    <br/>
    <input type="text" id="descripcion" name="descripcion" required="true"/>
    <br/>

    <label for="trata">Código de trata en GDE</label>
    <br/>
    <input type="text" id="trata" name="trata" required="true"/>
    <br/>

    <label for="usuario">Usuario</label>
    <br/>
    <input type="text" id="usuario" name="usuario" required="true"/>
    <br/>

    <label for="reparticion">Repartición iniciadora</label>
    <br/>
    <input type="text" id="reparticion" name="reparticion" required="true"/>
    <br/>

    <label for="sector">Sector iniciador</label>
    <br/>
    <input type="text" id="sector" name="sector" required="true"/>
    <br/>

    <label for="nombre">Nombre</label>
    <br/>
    <input type="text" id="nombre" name="nombre" required="true"/>
    <br/>
    <br/>

    <label for="selectable_tags">Etiquetas seleccionables</label>
    <br/>
    <select id="selectable_tags" >
        <option disabled="true">-------------- Seleccione una etiqueta --------------</option>
        <option disabled="true"></option>
        <option disabled="true">------------------------ Organismo ------------------------</option>
        <option th:each="tag: ${tags_organismo}" th:label="${tag.tag}"></option>
        <option disabled="true"></option>
        <option disabled="true">---------------------------- Tema ---------------------------</option>
        <option th:each="tag: ${tags_tema}" th:label="${tag.tag}"></option>
        <option disabled="true"></option>
        <option disabled="true">------------------------- Categoría -------------------------</option>
        <option th:each="tag: ${tags_categoria}" th:label="${tag.tag}"></option>
    </select>
    <br/>

    <button type="button" class="button buttonBlue" th:onclick="'selectTag();'">Agregar etiqueta</button>
    <br/>
    <br/>

    <label for="text_selected_tags">Etiquetas agregadas</label>
    <br/>
    <textarea rows="4" cols="50" id="text_selected_tags" name="text_selected_tags" readonly="true" value=""></textarea>
    <br/>

    <button type="button" class="button buttonRed" th:onclick="'unselectTag();'">Remover etiquetas seleccionadas</button>
    <br/>
    <br/>

    <label for="descripcion_html">Descripción HTML</label>
    <br/>
    <textarea rows="4" cols="50" id="descripcion_html" name="descripcion_html" required="true"></textarea>
    <br/>

    <label for="tiene_pago">Tiene Pago</label>
    <br/>
    <input type="radio" th:onclick="'checkPago();'" id="tiene_pago" name="tiene_pago" value="SI"/> Si
    <input type="radio" th:onclick="'checkPago();'" id="no_tiene_pago" name="tiene_pago" value="NO" checked="true"/> No
    <br/>

    <label for="id_sir" id="label_sir" style="visibility:hidden">ID Tipo Tramite SIR</label>
    <br/>
    <input type="text" id="id_sir" name="id_sir" style="visibility:hidden"/>
    <br/>

    <label for="tiene_prevalidacion">Tiene Prevalidacion</label>
    <br/>
    <input type="radio" id="tiene_prevalidacion" name="tiene_prevalidacion" value="SI"/> Si
    <input type="radio" name="tiene_prevalidacion" value="NO" checked="true"/> No
    <br/>

    <br/><br/>
    <input type="submit" value="Submit"/>
</form>
</div>

<script  type="text/javascript">
function selectTag() {
    var sel_tags = document.getElementById("selectable_tags");
    var text = sel_tags.options[sel_tags.selectedIndex].label;

    var selected = document.getElementById("text_selected_tags");

    if(selected.value.includes(text))
        alert("La etiqueta ya fue seleccionada");
    else
        selected.value = selected.value + text + "\n"
}
</script>

<script  type="text/javascript">
function unselectTag() {
    var selected = document.getElementById("text_selected_tags");
    selected.value = "";
}
</script>

<script type="text/javascript">
function checkPago() {
    if (document.getElementById("tiene_pago").checked) {
        document.getElementById("id_sir").style.visibility = 'visible';
        document.getElementById("id_sir").required=true;
        document.getElementById("label_sir").style.visibility = 'visible';
    } else {
        document.getElementById('id_sir').style.visibility = 'hidden';
        document.getElementById("id_sir").required=false;
        document.getElementById("label_sir").style.visibility = 'hidden';
    }
}
</script>

</body>
</html>