<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Configuración de relaciones</title>
<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border:0;
    padding-left: 10px;
}

th, td {
    border: none;
    text-align: left;
    height: 30px;
    padding-left: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #ffffff}

th {
    background-color: #4CAF50;
    color: white;
    text-align:center;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

</style>
</head>

<body>
<p th:text="${tramite.nombre}"/>
<div>
    <form action="/tramites/relaciones/tramite" onsubmit="return loadData()" method="post">
        <input type="hidden" id="tramite_id" name="tramite_id" th:value="${tramite.id}"/>
        <label for="usuario">Usuario</label>
        <br/>
        <input type="text" id="usuario" name="usuario" required="true" style="width:50%"/>
        <br/>
        <br/>

        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
                        <tr>
                            <th colspan="5">Documentos</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="height:400px; overflow:auto;">
                        <table cellspacing="0" cellpadding="10" border="1" style="width:100%; ">
                            <tr th:each="documento: ${documentos}">
                                <td width="80%" th:id="${'text-' + documento.value.id}" th:text="${documento.value.id + ' - ' + documento.value.nombre}">documento</td>
                                <td width="5%"><input type="checkbox" title="Relacionar documento" th:id="${documento.value.id}" th:onclick="'handleClick(this.id);'" th:checked="${documento.value.relacionado}"/></td>
                                <td width="5%"><input type="checkbox" title="Configurar como obligatorio" th:id="${'obligatorio-' + documento.value.id}" th:checked="${documento.value.relacionado} ? ${documento.value.relacion.obligatorio == 1}" th:style="${documento.value.relacionado == 0} ? 'visibility:hidden'"/></td>
                                <td width="5%"><input type="number" title="Cantidad" min="1" th:value="${documento.value.relacionado} ? ${documento.value.relacion.cantidad} : '1'" th:id="${'cantidad-' + documento.value.id}" th:style="${documento.value.relacionado == 0} ? 'visibility:hidden'"/></td>
                                <td width="5%"><input type="number" title="Orden" min="1" th:value="${documento.value.relacionado} ? ${documento.value.relacion.orden} : '1'" th:id="${'orden-' + documento.value.id}" th:style="${documento.value.relacionado == 0} ? 'visibility:hidden'"/></td>
                                <td><input type="hidden" th:value="${documento.value.relacionado} ? ${documento.value.relacion.usuario}" th:id="${'usuario-' + documento.value.id}"/></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <input type="hidden" id="documentos_relacionados" name="documentos_relacionados" th:value="${documentos_relacionados}"/>
        <input type="hidden" id="documentos_configuracion" name="documentos_configuracion" />
        <br/><br/>
        <input type="submit" value="Confirmar"/>
        <br/><br/>
    </form>
</div>

<script type="text/javascript">
function handleClick(docId) {
    var checkbox = document.getElementById(docId);
    var docs_activos = document.getElementById("documentos_relacionados");

    var strDocId = docId.toString();
    var n = docs_activos.value.indexOf(strDocId);

    obligatorio = document.getElementById("obligatorio-" + docId);
    cantidad = document.getElementById("cantidad-" + docId);
    orden = document.getElementById("orden-" + docId);

    if (checkbox.checked) {
        docs_activos.value += "," + strDocId;
        obligatorio.style.visibility = 'visible';
        orden.style.visibility = 'visible';
        cantidad.style.visibility = 'visible';
    } else {
        docs_activos.value = docs_activos.value.substring(0,n-1) + docs_activos.value.substring(n + strDocId.length, docs_activos.value.length);
        obligatorio.style.visibility = 'hidden';
        orden.style.visibility = 'hidden';
        cantidad.style.visibility = 'hidden';
    }
}
</script>

<script type="text/javascript" th:inline="javascript">
function loadData() {
    var str = document.getElementById("documentos_relacionados").value;
    var str_array = str.split(',');
    var docId, obligatorio, cantidad, orden, oldUser;
    var newUser = document.getElementById("usuario").value;
    var configuracion = "";
    for(i in str_array) {
        str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
        docId = str_array[i];
        if (docId != "") {
            configuracion += docId + ",";
            obligatorio = "0";

            if (document.getElementById("obligatorio-" + docId).checked)
                obligatorio = "1";

            cantidad = document.getElementById("cantidad-" + docId).value;
            orden = document.getElementById("orden-" + docId).value;
            user = document.getElementById("usuario-" + docId).value;

            if (user == "")
                user = newUser;

            configuracion += obligatorio+","+cantidad+","+orden+","+user+";";
        }
    }

    configuracion = configuracion.substring(0, configuracion.length - 1);

    var documentos_configuracion = document.getElementById("documentos_configuracion");
    documentos_configuracion.value = configuracion;

    return true;
}
</script>
</body>
</html>