<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Relaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style_form.css}"/>
</head>

<body>
<div>
    <form action="/tramites/relaciones/tramite" method="get">
        <label for="selectable_tramites">Tramites</label>
        <br/>
        <select id="selectable_tramites" name="selectable_tramites" path="selectable_tramites">
            <option disabled="true">-------------------------------------------------- Seleccione un trámite --------------------------------------------------</option>
            <option th:each="tramite: ${tramites}" th:label="${tramite.value.id + ' - ' + tramite.value.nombre}" th:value="${tramite.value.id}"></option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Siguiente"/>
    </form>
</div>
</body>
</html>