<input type="hidden" id="id" name="id" required="true" th:value="${tramite != null} ? ${tramite.id}"/>

<div class="form-group" style="margin-top:20px">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required="true" th:value="${tramite != null} ? ${tramite.nombre}" placeholder="Ingrese un Nombre..."/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="descripcion">Descripción:</label>
    <input type="text" class="form-control" id="descripcion" name="descripcion" required="true" th:value="${tramite != null} ? ${tramite.descripcion}" placeholder="Ingrese una descripción..."/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="trata">Código de Trata GDE:</label>
    <input type="text" class="form-control" id="trata" name="trata" required="true" th:value="${tramite != null} ? ${tramite.trata}" placeholder="Ingrese un código de trata..."/>
</div>

<input type="hidden" id="tratas_existentes" name="tratas_existentes" th:value="${tratas_existentes}"/>
<input type="hidden" id="trata_anterior" name="trata_anterior" th:value="${tramite != null} ? ${tramite.trata}"/>
<input type="hidden" id="tratas_disponibles" name="tratas_disponibles" th:value="${tratas_disponibles}"/>

<div class="form-group" style="margin-top:20px">
    <label for="usuario_iniciador">Usuario Iniciador:</label>
    <input type="text" class="form-control" id="usuario_iniciador" name="usuario_iniciador" required="true" th:value="${tramite != null} ? ${tramite.usuarioIniciador}" placeholder="Ingrese el nombre de usuario iniciador..."/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="reparticion">Repartición Iniciadora:</label>
    <input type="text" class="form-control" id="reparticion" name="reparticion" required="true" th:value="${tramite != null} ? ${tramite.reparticion}" placeholder="Ingrese el código de la repartición iniciadora..."/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="sector">Sector Iniciador:</label>
    <input type="text" class="form-control" id="sector" name="sector" required="true" th:value="${tramite != null} ? ${tramite.sector}" placeholder="Ingrese el código del sector iniciador..."/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="selectable_tags">Etiquetas seleccionables:</label>
    <select  class="selectpicker form-control" multiple data-live-search="true" title="Seleccione una o más etiquetas..." data-width="100%" id="selectable_tags" name="selectable_tags" path="selectable_tags" placeholder="Elija una etiqueta...">
        <optgroup th:each="tag: ${tags}" th:label="${tag.key}">
            <option th:each="tagName: ${tag.value}"  th:text="${tagName.tag}" th:value="${tagName.tag}" th:selected="${tagName.selected}">Option</option>
        </optgroup>
    </select>
    <input type="text" id="selected_tags" name="selected_tags" style="display:none"/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="descripcion_html">Descripción HTML:</label>
    <textarea rows="4" cols="50" class="form-control" id="descripcion_html" name="descripcion_html" required="true" placeholder="Ingrese el código HTML..." th:inline="text">[[${tramite != null} ? ${tramite.descripcionHtml} : '']]</textarea>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="descripcion_corta">Descripción Corta:</label>
    <input type="text" class="form-control" id="descripcion_corta" name="descripcion_corta" required="true" th:value="${tramite != null} ? ${tramite.descripcionCorta}" placeholder="Ingrese una descripción corta..."/>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="tiene_pago">Tiene Pago:</label>
    <div>
        <label class="radio-inline"><input type="radio" th:onclick="'checkPago();'" id="tiene_pago" name="tiene_pago" value="SI" th:checked="${tramite != null} ? ${tramite.pago} == 1"/>Si</label>
        <label class="radio-inline"><input type="radio" th:onclick="'checkPago();'" id="no_tiene_pago" name="tiene_pago" value="NO" th:checked="${tramite == null} or ${tramite.pago} == 0"/>No</label>
    </div>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="id_sir" id="label_sir" th:style="${tramite == null} or ${tramite.pago == 0} ? 'visibility:hidden'">ID Tipo Trámite SIR:</label>.
    <input type="text" class="form-control" id="id_sir" name="id_sir" th:style="${tramite == null} or ${tramite.pago == 0} ? 'visibility:hidden'" th:value="${tramite != null} ? ${tramite.idTipoTramiteSir}" placeholder="Ingrese un ID de trámite SIR..."/>
</div>

<div class="form-group" id="div_precaratulacion" th:style="${tramite == null} or ${tramite.pago == 0} ? 'visibility:hidden;margin-top:20px' : 'margin-top:20px'">
    <label for="pago_precaratulacion">Pago con pre-caratulación:</label>
    <div>
        <label class="radio-inline"><input type="radio" id="pago_precaratulacion" name="pago_precaratulacion" value="SI" th:checked="${tramite != null} and ${tramite.pago} == 1 and ${tramite.idTramiteConfiguracion} == 2"/>Si</label>
        <label class="radio-inline"><input type="radio" id="no_pago_precaratulacion" name="pago_precaratulacion" value="NO" th:checked="${tramite == null} or ${tramite.idTramiteConfiguracion} != 2"/>No</label>
    </div>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="tiene_prevalidacion">Tiene Prevalidación:</label>
    <div>
        <label class="radio-inline"><input type="radio" id="tiene_prevalidacion" name="tiene_prevalidacion" value="SI" th:checked="${tramite != null} ? ${tramite.prevalidacion} == 1"/>Si</label>
        <label class="radio-inline"><input type="radio" name="tiene_prevalidacion" value="NO" th:checked="${tramite == null} or ${tramite.prevalidacion} == 0" />No</label>
    </div>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="obligatorio_interviniente">Obligatorio interveniente:</label>
    <div>
        <label class="radio-inline"><input type="radio" id="obligatorio_interviniente" name="obligatorio_interviniente" value="SI" th:checked="${tramite != null} ? ${tramite.obligatorioInterviniente} == 1"/>Si</label>
        <label class="radio-inline"><input type="radio" name="obligatorio_interviniente" value="NO" th:checked="${tramite == null} or ${tramite.obligatorioInterviniente} == 0"/>No</label>
    </div>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="tiene_firma_conjunta">Tiene firma conjunta:</label>
    <div>
        <label class="radio-inline"><input type="radio" id="tiene_firma_conjunta" name="tiene_firma_conjunta" value="SI" th:checked="${tramite != null} ? ${tramite.idTramiteConfiguracion} == 6"/>Si</label>
        <label class="radio-inline"><input type="radio" name="tiene_firma_conjunta" value="NO" th:checked="${tramite == null} or ${tramite.idTramiteConfiguracion} != 6"/>No</label>
    </div>
</div>

<div class="form-group" style="margin-top:20px">
    <label for="visible">Visible:</label>
    <div>
        <label class="radio-inline"><input type="radio" id="visible" name="visible" value="SI" th:checked="${tramite == null} or ${tramite.visible} == 1"/>Si</label>
        <label class="radio-inline"><input type="radio" name="visible" value="NO" th:checked="${tramite != null} ? ${tramite.visible} == 0"/>No</label>
    </div>
</div>

<input type="submit" class="btn btn-success btn-block" value="Confirmar"/>

<script type="text/javascript">
function validateTrata() {
    var tratas_disponibles = document.getElementById("tratas_disponibles").value;
    var tratas_existentes = document.getElementById("tratas_existentes").value;
    var trata = document.getElementById("trata").value;
    var trata_anterior = document.getElementById("trata_anterior").value;
    var idTramite = document.getElementById("id").value;

    var targets = [];
    $.each($(".selectpicker option:selected"), function(){
    targets.push($(this).val());
    });

    var selected = document.getElementById("selected_tags");
    selected.value = targets.join(",");

    if(selected.value.localeCompare("") == 0) {
        alert("Debe seleccionar al menos una etiqueta");
        return false;
    }

    if (! tratas_disponibles.includes(trata)) {
        alert("El código de TRATA ingresado no existe");
        return false;
    }

    if(tratas_existentes.includes(trata)) {
        if (idTramite.localeCompare("") != 0 && trata_anterior == trata) {
            return true;
        }
        alert("El código de trata ingresado ya existe para otro trámite, por favor coloque uno distinto");
        return false;
    }

    return true;
}
</script>

<script type="text/javascript">
function checkPago() {
    if (document.getElementById("tiene_pago").checked) {
        document.getElementById("id_sir").style.visibility = 'visible';
        document.getElementById("id_sir").required=true;
        document.getElementById("label_sir").style.visibility = 'visible';
        document.getElementById("div_precaratulacion").style.visibility = 'visible';
    } else {
        document.getElementById('id_sir').style.visibility = 'hidden';
        document.getElementById("id_sir").required=false;
        document.getElementById("label_sir").style.visibility = 'hidden';
        document.getElementById("div_precaratulacion").style.visibility = 'hidden';
    }
}
</script>