<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="@{header}">Header</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
</div>
<div class="container">
    <div class="hero-unit">
        <h1> Nuevo Trámite </h1>
        <form th:action="@{/tramites}" onsubmit="return validateTrata()" th:object="${user}" th:method="post">
            <div th:replace="@{tramite/tramite_form}">
            </div>
            <input type="text" id="username" th:value="*{username}" name="username" style="display:none"/>
            <input type="text" id="password" th:value="*{password}" name="password" style="display:none"/>
        </form>
    </div>
</div>

</body>
</html>