<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="@{header}">Header</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
</div>
<div class="container">
    <div class="hero-unit">
        <h1> Configuración de relaciones </h1>
        <h2 th:text="${tramite.id + ' - ' + tramite.nombre}"/>
        <form th:action="@{/tramites/relaciones/tramite}" onsubmit="return loadData()" th:object="${user}" th:method="post">
            <input type="hidden" id="tramite_id" name="tramite_id" th:value="${tramite.id}"/>
            <input type="text" id="username" th:value="*{username}" name="username" style="display:none"/>
            <input type="text" id="password" th:value="*{password}" name="password" style="display:none"/>

            <select  class="selectpicker" data-live-search="true" data-width="100%" id="selectable_documentos" name="selectable_documentos" path="selectable_documentos" data-placeholder="Elija un documento...">
                <option th:each="documento: ${documentos}" th:text="${documento.id + ' - ' + documento.nombre}" th:value="${documento.id}">Option</option>
            </select>
            <button type="button" class="btn btn-primary relacion__add">Agregar</button>

            <br/>
            <br/>

            <div class="table-responsive" style="margin-top:30px; width:100%">
                <table class="table" id="table_relaciones">
                    <thead>
                    <tr>
                        <th style="width:75%">Documento</th>
                        <th style="width:10%">Obligatorio</th>
                        <th style="width:5%">Cant.</th>
                        <th style="width:5%">Orden</th>
                        <th style="width:5%">Remover</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">
                    <tr th:each="documentoRequerido: ${documentos_requeridos}" th:id="${'row-' + documentoRequerido.idTipoDocumento}">
                        <td style="width:75%" align="left" th:id="${'text-' + documentoRequerido.idTipoDocumento}" th:text="${documentoRequerido.idTipoDocumento + ' - ' + documentoRequerido.nombre}">documento</td>
                        <td style="width:10%"><input type="checkbox" title="Obligatorio" th:id="${'obligatorio-' + documentoRequerido.idTipoDocumento}" th:checked="${documentoRequerido.obligatorio} == 1"/></td>
                        <td style="width:5%"><input type="number" title="Cantidad" min="1" th:id="${'cantidad-' + documentoRequerido.idTipoDocumento}" th:value="${documentoRequerido.cantidad}"/></td>
                        <td style="width:5%"><input type="number" title="Orden" min="1" th:id="${'orden-' + documentoRequerido.idTipoDocumento}" th:value="${documentoRequerido.orden}" /></td>
                        <td style="width:5%"><button type="button" class="relacion__delete" title="Eliminar" th:id="${'eliminar-' + documentoRequerido.idTipoDocumento}"/></td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>

            <input type="text" id="documentos_update" name="documentos_update" th:value="${documentos_update}"/>
            <input type="text" id="documentos_insert" name="documentos_insert"/>
            <input type="text" id="documentos_delete" name="documentos_delete"/>
            <br/><br/>
            <input type="submit" value="Confirmar"/>
            <br/><br/>
        </form>
</div>

<script th:src="@{/js/relaciones.js}"></script>

<script type="text/javascript">
    function addDocument() {
        var selector = document.getElementById("selectable_documentos");
        var selected = selector.options[selector.selectedIndex];
        var docId = selected.value;

        var row = document.getElementById("row-" + docId);
        row.style.display = '';

        var docs_activos = document.getElementById("documentos_relacionados");
        docs_activos.value += "," + docId;
    }
</script>

<script type="text/javascript">
function eliminarDocumento(docId) {
    strDocId = docId.toString();
    var row = document.getElementById('row-' + strDocId);
    row.style.display = 'none';

    var docs_activos = document.getElementById("documentos_relacionados");

    var n = docs_activos.value.indexOf(strDocId);

    docs_activos.value = docs_activos.value.substring(0,n-1) + docs_activos.value.substring(n + strDocId.length, docs_activos.value.length);
}
</script>

<script type="text/javascript" th:inline="javascript">
function loadData() {
    var documentosUpdate = document.getElementById("documentos_update");
    documentosUpdate.value = parse(documentosUpdate);

    var documentosInsert = document.getElementById("documentos_insert");
    documentosInsert.value = parse(documentosInsert);

    return true;
}
</script>

<script type="text/javascript" th:inline="javascript">
function parse(elemDocs) {
    var str = elemDocs.value;
    var str_array = str.split(',');
    var docId, obligatorio, cantidad, orden;
    var configuracion = "";
    for(i in str_array) {
        str_array[i] = str_array[i].replace(/^\s*/, "").replace(/\s*$/, "");
        docId = str_array[i];
        if (docId != "") {
            configuracion += docId + ",";
            obligatorio = "0";

            if (document.getElementById("obligatorio-" + docId).checked)
                obligatorio = "1";

            cantidad = document.getElementById("cantidad-" + docId).value;
            orden = document.getElementById("orden-" + docId).value;

            configuracion += obligatorio+","+cantidad+","+orden+";";
        }
    }

    configuracion = configuracion.substring(0, configuracion.length - 1);

    return configuracion;
}

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" type="text/javascript"></script>
<script th:src="@{/chosen/chosen.jquery.js}" type="text/javascript"></script>
<script th:src="@{/chosen/docsupport/prism.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/chosen/docsupport/init.js}" type="text/javascript" charset="utf-8"></script>

</body>
</html>